<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<nav>
  <div id="top_nav">
    <div id="left_nav"><a class="button"href="<%= url("/")%>">Home</a></div>
    <div id="right_nav">
      <% unless logged_in? %>
        <a href="<%= url("/users/new")%>">Sign up!</a>
      <% else %>
        <a href="<%= url("/albums/new")%>">New Photo Album</a> ||
        <a href="<%= url("/users/#{current_user.id}/albums")%>">My Albums</a> 
      <% end %>
    </div>
  </div>
</nav>
<body>
  <%= yield %>
</body>
</html>
